# macOS
.DS_Store

# VSCode
.vscode/
.code-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Virtual environments
.env/
.venv/
venv/
ENV/
env/